In [19]:
def printeven(n):
   
    cnt=0
    sum=0
    while(cnt!=n):
        if(cnt%2==0):
            sum=sum+cnt
        cnt=cnt+1
    return(sum)
n=int(input())
printeven(n)

20

90

In [17]:
def factor(n):
    cnt=1
    while(cnt<n):
        if(n%cnt==0):
            print(cnt,end=" ")
        cnt=cnt+1
    return
n=int(input())
factor(n)

45
1 3 5 9 15

# List in Python

List can be written in python with square brackets and each item in the list is separated by comma operator

List can be anything  -- int, char, float and string

#####Example of List

list 1= [1,2,3,4,5]

list 2=["a","b","c","d"]

list 3=[maths,science,physics,128,624]

In [24]:
list1=[1,2,3,4,5]
#Entire List
print(list1)
#list[0]
print(list1[0])

[1, 2, 3, 4, 5]
1

# for Loop

Syntax:-

            for <variablename> in <seq>:<br>
                     <statements>

In [23]:
list2=["Akhil","Arvind","Anil","Akash"]
for x in list2:
  print(x,end= " ")

Akhil Arvind Anil Akash

In [22]:
#List example with particular index
lst1=[1,2,3,4,5,6,7]
for x in lst1:
  print(x,end= " ")
print()
print(lst1[4])
print(lst1[3:7])
print(lst1[0:3])
print(lst1[:3])
print(lst1[:7])

1 2 3 4 5 6 7
5
[4, 5, 6, 7]
[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4, 5, 6, 7]

In [27]:
lst1=[1,2,3,4,5,6,7,8,9,10]
for x in lst1:
  print(x,end= " ")
print()
print(lst1[1:-1])
print(lst1[2:-2])
print(lst1[::2])
print(lst1[::3])
print(lst1[::4])
print(lst1[::-2])
print(lst1[-1])
print(lst1[-2])

1 2 3 4 5 6 7 8 9 10
[2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[1, 5, 9]
[10, 8, 6, 4, 2]
10
9

In [28]:
lst1=["Anil","Adarsh", "Akhil",1]
print(lst1)
lst1[2]=15# update the list item
print(lst1)
del lst1[3]# delete the list item
print(lst1)
lst1[1]="Gitam"
print(lst1)
lst2=[1,2,3]
print(lst2)
print(lst1+lst2)# Concatination of both the lists

['Anil', 'Adarsh', 'Akhil', 1]
['Anil', 'Adarsh', 15, 1]
['Anil', 'Adarsh', 15]
['Anil', 'Gitam', 15]
[1, 2, 3]
['Anil', 'Gitam', 15, 1, 2, 3]

In [31]:
lst1=[1,2,3,4,5]
print(lst1)
del lst1[2]
print(lst1)
#lst1[4]=15
print(len(lst1))# Used to find the len of the list
lst1.append(15)
print(lst1)
lst1.append(150)
lst1.append(1)
lst1.append(1)
lst1.append(3)
print(lst1)
print(lst1.count(1))
print(lst1.count(3))

[1, 2, 3, 4, 5]
[1, 2, 4, 5]
4
[1, 2, 4, 5, 15]
[1, 2, 4, 5, 15, 150, 1, 1, 3]
3
1

# List Methods

####Index(obj)

Returns the index of passed object first occurance from the lest side.

####Insert(index,obj)

The insertsthe passed obj at certain index.

In [ ]:
lst1=["Gitam","python","Raptor",1,5,"Python","Python"]
print(lst1)
lst1.index("Python")#Finding the index of object in the list
lst1.index(1)
print(len(lst1))
lst1.insert(2,2019)
print(lst1)
print(len(lst1))
lst1.insert(4,2020)
print(lst1)

# List Methods

#### remove(obj)

The remove method removes the passed object from the first occurance from left direction

#### reverse()

The reverse() reverses objects of the list

In [32]:
lst1=["Gitam","Python","Raptor",1,5,"Python","Python"]
print(lst1)
lst1.remove("Python")
print(lst1)
lst1.remove("Python")
print(lst1)
lst1.reverse()
print(lst1)

['Gitam', 'Python', 'Raptor', 1, 5, 'Python', 'Python']
['Gitam', 'Raptor', 1, 5, 'Python', 'Python']
['Gitam', 'Raptor', 1, 5, 'Python']
['Python', 5, 1, 'Raptor', 'Gitam']